<form method="post" action="/signup">

<span title="UserName">
  <input type="text" name="name"/>
</span>

<span title="PassWord">
  <input type="password" name="password"/>
</span>

<input type="submit"/>

</form>